body {
  background: linear-gradient(to right, #ffffff, #3498db);
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  text-align: center;
  margin-top: -20px; /* Adjust the margin to bring the header up */
}

.file-upload-container {
  width: 95%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  color: #3498db;
}

.file-input {
  width: calc(100% - 24px); /* Adjusted width to keep the blue border within the content box */
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #3498db;
  border-radius: 6px;
  color: #333;
  outline: none;
}

.file-input:hover,
.file-input:focus {
  border-color: #207bb3;
}

.selected-file {
  margin-top: 15px;
  font-size: 16px;
  color: #27ae60;
  padding-bottom: 8px;
}

.run-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px; /* Added padding to the top */
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.run-button:hover {
  background-color: #207bb3;
}
